/* .content {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.skill_btn {
    padding: 50px !important;
}

.skill_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 75px;
}

.skill_btn .fa {
    font-size: 37px;
}

.skill_box{
    height: 10rem;
    width: 10rem;
    padding: 20px;
}

.Skills .box:hover i {
    color: white;
    opacity: 1;
}

@media (max-width: 1024px) {
    .skill_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .skill_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px;
        width: 100%;
    }

    .skill_box{
        margin: auto;
    }

    .skill_btn {
        padding: 12px !important;
    }
}