.slider {
    position: relative;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
   } 
  
  .image {
    width: 598px;
    height: 337px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  @media (max-width: 1024px) {
    .image {
      width: 189px;
      height: 156px;
  }
  }

  @media (max-width: 1024px) {
    .image{
      width: 261px;
      height: 192px;
    }

    .left-arrow {
      left: -20px;
    }

    .right-arrow{
      right: -20px;
    }
  }