@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}
.container {
  max-width: 95%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
button {
  border: none;
  outline: none;
  background-color: none;
}
.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
}
.btn_shadow {
  background: linear-gradient(145deg, #000000, #000000);
  box-shadow: 4px 4px 8px #ffffff78, -4px -4px 8px #150b0b;
  color: white;
}
.btn_shadow:hover {
  background: #130cf1f7;
  color: white; 
  transform: translatey(10px);
}
.box_shodow {
  background: linear-gradient(145deg, #000000, #000000);
  box-shadow: 4px 4px 8px #5c4646, -4px -4px 8px #c5abab;
  border-radius: 10px;
}
.row {
  width: 50%;
}
.home_content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top {
  margin-top: 80px;
}
.bottom{
  margin-bottom: 40px;
}
.mtop {
  margin-top: 40px;
}
.heading {
  margin: 50px 0 50px 0;
}
.heading h4 {
  color: #ff014f;
  letter-spacing: 2px;
  font-weight: 400;
}
.heading h1 {
  font-size: 60px;
  color: #3c3e41;
}
h1 {
  color: #0066ff;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
p {
  color: #3c3e41;
}
.text-center {
  text-align: center;
}
.center{
  justify-content: center;
}
.primary_color {
  color: #ff014f;
}
textarea,
input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #141415;
  color: white;
  background-color: #110d0d;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  
  .heading h1{
    font-size: 30px;
  }

  .res_page{
    width: 95%;
    margin: auto;
  }

  .d_flex{
     display: flex;
     justify-content: space-between;
     /* flex-direction: column; */
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .home_content, .row {
    width: 100%;
  }
}